*{
    font-family: Product Sans, mononoki Nerd Font;
    font-size: 1.2rem;
}

/* Windows */
window.bar {
    background-color: rgba(00, 00, 00, 0.7);
    color: #FDFDFD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

window.workbar {
    background-color: #000000;
}

/* Modules */
.module {
    padding: 5px 5px 5px 5px;
}

.date {
    color: #FF9E64;
}

.clock {
    color: #9ECE6A;
}

.volume {
    color: #0DB9D7;
}

.music {
    color: #8897F4;
}

.separator {
    color: #606060;
}

.circle {
    font-size: 4px;
    min-height: 10px;
    min-width: 40px;
    background-color: #1B1B1B;
}

.cpu {
    color: #9778D0;
}

.ram {
    color: #7AA2F7;
}

.systray-button {
    all: unset;
}

/* Workspaces */
.ws-button-label {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 1px;
}

.ws-button {
    border-top: 2px solid #606060;
}

.occupied {
    border-top: 2px solid #FDFDFD;
}

.active {
    border-top: 2px solid #C574DD;
}
