/** EWW.SCSS
Created by saimoom **/
*{
    all: unset;
    font-family: Product Sans, mononoki Nerd Font;
    font-size: 1.2rem;
}

$background: rgba(00, 00, 00, 0.7);
$widget-background: rgba(30, 30, 30, 0.8);
$shadow:    #0B0B0B;
$grey:      #606060;

$black:     #282A36;
$red:       #F37F97;
$green:     #5ADECD;
$orange:    #F2A272;
$blue:      #8897F4;
$purple:    #C574DD;
$teal:      #79E6F3;
$white:     #FDFDFD;

///////////////////////////////////////////////////////////// General
.bar_class {
    background-color: $background;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px 0px 10px;
}

.side{
    background-color: $background;
    border-width: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px 30px 0px 30px;
}

.center_modules {
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

/** tooltip!! **/
tooltip.background {
    background-color: $background;
    border-radius: 10px;
    color: $white;
}

tooltip label {
    margin: 6px;
}


///////////////////////////////////////////////////////////// Widgets

.clock_date_class {
    color: #FF9E64;
}
.clock_time_class {
    color: #9ECE6A;
    margin: 0px 15px 0px 10px;
}

.notif_button {
    font-size: 14;
    margin: 0px 20px 0px 0px;
    color: $white;
}

.cpubar {
    color: #9778D0;
    background-color: $widget-background;
    border-radius: 10px;
}
.membar {
    color: #7AA2F7;
    background-color: $widget-background;
    border-radius: 10px;
}

.volume_icon, .volume_text {
    color: #0DB9D7;
}

.music {
    color: $blue;
    margin-left: 10px;
}
.musicicon {
    padding-left: 13px;
    padding-right: 13px;
    background-image: url("images/music.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.nomusicicon {
    padding-left: 13px;
    padding-right: 13px;
    background-image: url("images/nomusic.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.iconcpu, .cputext {
    color: #9778D0;
}
.iconmem, .memtext {
    color: #7AA2F7;
}
.cputext, .memtext {
    margin-left: 2px;
}
.iconmem, .iconcpu {
    margin: 6px 8px 8px 8px;
}

.cpu_module {
    background-color: rgba(00, 00, 00, 0.0);
    border-radius: 16px;
    margin: 2px 3px 2px 3px;
}
.mem_module {
    background-color: rgba(00, 00, 00, 0.0);
    border-radius: 16px;
    margin: 2px 3px 2px 3px;
}

.separ {
    color: $grey;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 8px 0px 8px;
}

///////////////////////////////////////////////////////////// Workspaces
.works {
    margin: 0px 0px 0px 0px;
}

.workspacebuttons {
    all: unset;
    color: $grey;
    padding-left: 13px;
    padding-right: 13px;
    border-top: 2px solid;
    margin: 0px 0px -22px 0px;
}

/* Occupied */
.occupied {
    color: $white;
}

/* Focused */
.focused {
    color: $purple;
}

///////////////////////////////////////////////////////////// Calendar
.cal {
    background-color: $background;
    font-family: mononoki Nerd Font;
    font-size: 18px;
    font-weight: normal;
    border-radius: 25px;

.cal-in {
    padding: 10px 10px 10px 10px;
    color: $white;

.cal {
     &.highlight {
          padding: 20px;
      }
      padding: 10px 10px 10px 10px;
      margin-left: 10px;
    }
  }
}

calender {
    color: $blue;
}
calendar:selected {
    color: $blue;
}

calendar.header {
    color: $blue;
    font-weight: bold;
}

calendar.button {
    color: $green;
}

calendar.highlight {
    color: $blue;
    font-weight: bold;
}

calendar:indeterminate {
    color: $black;
}

///////////////////////////////////////////////////////////// Notifications
.notification {
    all: unset;
    background-color: $widget-background;
    padding: 20px 25px 20px 17px;
    margin: 0px 15px 0px 15px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: $red;}

.notification-header {
    all: unset;
    background-color: $widget-background;
    padding: 20px 25px 20px 17px;
    margin: 20px 15px 10px 15px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: $green;}

.notification-icon {
    color: $white;
    font-size: 36px;
    margin: 0px 20px 0px 10px;
}

.notification-appname {
    font-family: "Inter Nerd Font";
    font-size: 14px;
    font-weight: bold;
    color: $orange;
}

.notification-summary {
    font-family: "Inter Nerd Font";
    font-size: 18px;
    font-weight: bold;
    color: $white;
}

.notification-body {
    font-family: "Inter Nerd Font";
    font-size: 14px;
    color: $white;
}

.notification-label {
    font-family: "Mononoki Nerd Font";
    font-size: 30px;
    color: $blue;
    margin: 0px 50px 0px 0px;
}
.notification-action {
    font-family: "Mononoki Nerd Font";
    font-size: 36px;
    color: $white;
    margin: 0px 0px 0px 20px;
}
