* {
	border: none;
	border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font";
	font-size: 14px;
	font-weight: bold;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 2px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces button.active {
    color: #1a1b26;
	background-color: #7aa2f7;
}

#workspaces button {
	color: #7aa2f7;
	margin: 0px;
	padding: 0px 2px;
}

#workspaces {
	margin: 2px;
}

#custom-workscroll {
	color: #7dcfff;
	padding-left: 4px;
	padding-right: 8px;
}

.modules-center {
	margin-top: 2px;
	margin-bottom: 0px;
	border-radius: 10px;
	background-color: #1a1b26;
}

.modules-right {
	margin-top: 2px;
	margin-left: 8px;
	margin-bottom: 0px;
	border-radius: 10px;
    margin-right: 2px;
	transition: none;
	color: #b5e8e0;
	background-color: #1a1b26;
}

#pulseaudio {
	color: #2ac3de;
}

#cpu {
	color: #7dcfff;
}

#memory {
	color: #7aa2f7;
}

#clock {
	color: #bb9af7;
}

#pulseaudio,
#clock,
#memory,
#cpu {
	padding-left: 10px;
	padding-right: 10px;
	margin: 2px;
}

#tray {
	padding-left: 2px;
	padding-right: 8px;
	margin: 2px;
}

#mpd {
	margin-top: 2px;
	margin-left: 2px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #b4f9f8;
	background: #1a1b26;
}

/* Laptop only */
#battery {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1a1b26;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #1a1b26;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #1a1b26;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1a1b26;
	background: #F8BD96;
}
